@keyframes move-twinkle-back {
    form {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #02386e;
    z-index: 0;
}
.twinkling {
    background: transparent;
    z-index: 1;
    animation: move-twinkle-back 200s linear infinite;
}

.container {
    position: fixed;
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 50%;
    text-align: center;
}

.container .u-text-1 /*heading*/ {
    z-index: 3;
    color: white;
    font-size: 2.95rem;
    font-weight: 700;
    text-align: center;
}

.container .u-text-2 /*sub heading*/ {
    color: white;
    font-size: 1.05rem;
    text-align: center;
    margin-bottom: 14%;
}
span {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.container .u-btn-1 {
    display: flex;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 15vw;
    box-sizing: border-box;
}

.container .u-btn-2 {
    display: flex;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 15vw;
    box-sizing: border-box;
}

span a {
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transition: transform 0.25s;
}

span a:before,
span a:after {
    position: absolute;
    height: 8vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    color: black;
    box-sizing: border-box;
    border-radius: 5px;
}

span a.u-btn-1:after {
    color: black;
    background-color: white;
    border-color: #02386e;
    content: "FACULTY";
    transform: rotateX(90deg) translateZ(25px);
}

span a.u-btn-2:after {
    color: black;
    background-color: white;
    border-color: #02386e;
    content: "STUDENT";
    transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
    border-color: #02386e;
}

@media only screen and (max-width: 600px) {
    .container .u-btn-1,
    .container .u-btn-2 {
        height: 5vh;
        width: 25vw;
    }
    span a:before,
    span a:after {
        height: 5vh;
        width: 25vw;
    }
    .container {
        width: 90%;
    }
} ;
